
/* latin-ext */
@font-face {
  font-family: "Houschka Alt Pro";
  font-style: normal;
  url(./assets/fonts/houschkaaltpro-medium-web.woff) format('woff');
  
}
/* latin-ext */
@font-face {
  font-family: "Houschka Alt Pro Bold";
  font-style: bold;
  url(./assets/fonts/houschkaaltpro-bold-web.woff) format('woff');
  
}
/* latin-ext */
@font-face {
  font-family: "Houschka Alt Pro Light";
  font-style: normal;
  url(./assets/fonts/houschkaaltpro-light-web.woff) format('woff');
  
}