// Typography

// Fonts
$font-sans = 'Houschka Alt Pro',Arial,Helvetica,sans-serif
$font-sans-light = 'Houschka Alt Pro Light',Arial,Helvetica,sans-serif
$font-sans-bold = 'Houschka Alt Pro Bold', Arial, sans-serif
$font-serif = Georgia,serif
$primary-font-family = $font-sans
$secondary-font-family = $font-serif
$monospaced-font-family = Monaco, Lucida Console, monspace


